In [72]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
dataset=pd.read_csv('Life.csv')
dataset.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [73]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [112]:
missing_values = dataset.isnull().sum()
print(missing_values)

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [75]:
X = dataset.drop(columns=['Life expectancy '],axis=1)
y = dataset['Life expectancy ']
X
y

0       65.0
1       59.9
2       59.9
3       59.5
4       59.2
        ...
2933    44.3
2934    44.5
2935    44.8
2936    45.3
2937    46.0
Name: Life expectancy , Length: 2938, dtype: float64

In [76]:
X=dataset.loc[:,dataset.columns != "Life expectancy "].values
y=dataset.loc[:,dataset.columns == "Life expectancy "].values
X
y

array([[65. ],
       [59.9],
       [59.9],
       ...,
       [44.8],
       [45.3],
       [46. ]])

In [77]:
duplicate_rows = dataset.duplicated()
total_duplicates = duplicate_rows.sum()
print("Total duplicate rows:", total_duplicates)

Total duplicate rows: 0

In [78]:
dataset.value_counts().sum()

1649

In [79]:
for column in dataset.columns:
    unique_values = dataset[column].nunique()
    print(column,unique_values)

Country 193
Year 16
Status 2
Life expectancy  362
Adult Mortality 425
infant deaths 209
Alcohol 1076
percentage expenditure 2328
Hepatitis B 87
Measles  958
 BMI  608
under-five deaths  252
Polio 73
Total expenditure 818
Diphtheria  81
 HIV/AIDS 200
GDP 2490
Population 2278
 thinness  1-19 years 200
 thinness 5-9 years 207
Income composition of resources 625
Schooling 173

In [297]:
#To show rows with missing adult mortality
rows_with_missing_adult_mortality = dataset_imputed[dataset_imputed['Adult Mortality'].isna() | (dataset_imputed['Adult Mortality'] == "")]
#Solving the problem of rows with missing adult mortality values noting that I have deleted these rows later because they only have one row of Year 2013
print(rows_with_missing_adult_mortality)
dataset.loc[dataset['Country'] == 'Cook Islands', 'Adult Mortality'] = 537
print(dataset[dataset['Country'] == 'Cook Islands'])
dataset.loc[dataset['Country'] == 'Dominica', 'Adult Mortality'] = 120
print(dataset[dataset['Country'] == 'Dominica'])
dataset.loc[dataset['Country'] == 'Marshall Islands', 'Adult Mortality'] = 259
print(dataset[dataset['Country'] == 'Marshall Islands'])
dataset.loc[dataset['Country'] == 'Monaco', 'Adult Mortality'] = 19
print(dataset[dataset['Country'] == 'Monaco'])
dataset.loc[dataset['Country'] == 'Nauru', 'Adult Mortality'] = 438
print(dataset[dataset['Country'] == 'Nauru'])
dataset.loc[dataset['Country'] == 'Niue', 'Adult Mortality'] = 173
print(dataset[dataset['Country'] == 'Niue'])
dataset.loc[dataset['Country'] == 'Palau', 'Adult Mortality'] = 10
print(dataset[dataset['Country'] == 'Palau'])
dataset.loc[dataset['Country'] == 'Saint Kitts and Nevis', 'Adult Mortality'] = 231
print(dataset[dataset['Country'] == 'Saint Kitts and Nevis'])
dataset.loc[dataset['Country'] == 'San Marino', 'Adult Mortality'] = 8
print(dataset[dataset['Country'] == 'San Marino'])
dataset.loc[dataset['Country'] == 'Tuvalu', 'Adult Mortality'] = 375
print(dataset[dataset['Country'] == 'Tuvalu'])
missing_values = dataset.isnull().sum()
print(missing_values)

Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [144]:
#Solving problem of missing values in Alcohol column
non_val = dataset.groupby("Country")["Alcohol"].mean()
dataset["Alcohol"].fillna(non_val, inplace=True)
dataset.loc[dataset["Alcohol"].isna()]
dataset.loc[dataset["Country"] == "South Sudan","Alcohol"] = 0.0
dataset.loc[dataset["Country"] == "Palau","Alcohol"] = 0.0
dataset.loc[dataset["Country"] == "South Sudan"]
dataset.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                      0
infant deaths                        0
Alcohol                            177
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [298]:
#Solving problem of missing values in Hepatitis B column
rows_with_missing_hepatitis_b = dataset_imputed[dataset_imputed['Hepatitis B'].isna() | (dataset_imputed['Hepatitis B'] == "")]
print(rows_with_missing_hepatitis_b)

# Calculate mean Hepatitis B for each country
mean_hepatitis_b = dataset.groupby('Country')['Hepatitis B'].transform('mean')

# Fill missing values of Hepatitis B with country-specific means
dataset['Hepatitis B'].fillna(mean_hepatitis_b, inplace=True)

# Check for rows where NaN values still persist after imputation
rows_with_nan = dataset[dataset['Hepatitis B'].isnull()]

# Print rows with NaN values after imputation
print("Rows with NaN values after imputation:")
print(rows_with_nan)
dataset.isna().sum()
# Fill the values of "Hepatitis B" for "Denmark" with 0
dataset.loc[dataset['Country'] == 'Denmark', 'Hepatitis B'] = 0

# Verify that the values were filled correctly
denmark_hepatitis_b = dataset.loc[dataset['Country'] == 'Denmark', 'Hepatitis B']
print("Hepatitis B values for Denmark after filling:")
print(denmark_hepatitis_b)


dataset.loc[dataset['Country'] == 'Finland', 'Hepatitis B'] = 0
dataset.loc[dataset['Country'] == 'Hungary', 'Hepatitis B'] = 0
dataset.loc[dataset['Country'] == 'Iceland', 'Hepatitis B'] = 0
dataset.loc[dataset['Country'] == 'Japan', 'Hepatitis B'] = 94
dataset.loc[dataset['Country'] == 'Norway', 'Hepatitis B'] = 0
dataset.loc[dataset['Country'] == 'Slovenia', 'Hepatitis B'] = 0
dataset.loc[dataset['Country'] == 'Switzerland', 'Hepatitis B'] = 72
dataset.loc[dataset['Country'] == 'United Kingdom of Great Britain and Northern Ireland', 'Hepatitis B'] = 85

      Country  Year      Status  Life expectancy   Adult Mortality  \
44    Algeria  2003  Developing              71.7            146.0
45    Algeria  2002  Developing              71.6            145.0
46    Algeria  2001  Developing              71.4            145.0
47    Algeria  2000  Developing              71.3            145.0
57     Angola  2006  Developing              47.7            381.0
...       ...   ...         ...               ...              ...
2917   Zambia  2004  Developing              47.9            578.0
2918   Zambia  2003  Developing              46.4             64.0
2919   Zambia  2002  Developing              45.5             69.0
2920   Zambia  2001  Developing              44.6            611.0
2921   Zambia  2000  Developing              43.8            614.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
44               20     0.34               25.018523          NaN     15374
45               20     0.36              148.511984          NaN      5862
46               20     0.23              147.986071          NaN      2686
47               21     0.25              154.455944          NaN         0
57               90     5.84               25.086888          NaN       765
...             ...      ...                     ...          ...       ...
2917             36     2.46                8.369852          NaN        35
2918             39     2.33               65.789974          NaN       881
2919             41     2.44               54.043480          NaN     25036
2920             43     2.61               46.830275          NaN     16997
2921             44     2.62               45.616880          NaN     30930

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS          GDP  \
44    ...   87.0               3.60         87.0        0.1   294.335560
45    ...   86.0               3.73         86.0        0.1  1774.336730
46    ...   89.0               3.84         89.0        0.1  1732.857979
47    ...   86.0               3.49         86.0        0.1  1757.177970
57    ...   36.0               4.54         34.0        2.5   262.415149
...   ...    ...                ...          ...        ...          ...
2917  ...   84.0               7.33         83.0       17.6    53.277222
2918  ...   85.0               8.18         83.0       18.2   429.158343
2919  ...   85.0               6.93         84.0       18.4   377.135244
2920  ...   86.0               6.56         85.0       18.6   378.273624
2921  ...   85.0               7.16         85.0       18.7   341.955625

      Population   thinness  1-19 years   thinness 5-9 years  \
44     3243514.0                    6.3                  6.1
45     3199546.0                    6.3                  6.2
46    31592153.0                    6.4                  6.3
47     3118366.0                    6.5                  6.4
57     2262399.0                    9.8                  9.7
...          ...                    ...                  ...
2917  11731746.0                    7.2                  7.1
2918  11421984.0                    7.3                  7.2
2919    111249.0                    7.4                  7.3
2920   1824125.0                    7.4                  7.4
2921   1531221.0                    7.5                  7.5

      Income composition of resources  Schooling
44                              0.663       11.5
45                              0.653       11.1
46                              0.644       10.9
47                              0.636       10.7
57                              0.439        7.2
...                               ...        ...
2917                            0.456       10.5
2918                            0.443       10.2
2919                            0.433       10.0
2920                            0.424        9.8
2921                            0.418        9.6

[553 rows x 22 columns]
Rows with NaN values after imputation:
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Hepatitis B values for Denmark after filling:
737    0.0
738    0.0
739    0.0
740    0.0
741    0.0
742    0.0
743    0.0
744    0.0
745    0.0
746    0.0
747    0.0
748    0.0
749    0.0
750    0.0
751    0.0
752    0.0
Name: Hepatitis B, dtype: float64

In [300]:
#Solving the problem of missing values in BMI column
# Calculate mean bmi for each country
mean_bmi = dataset.groupby('Country')[' BMI '].transform('mean')
dataset[' BMI '].fillna(mean_bmi, inplace=True)
mean_bmi_switzerland = dataset[dataset['Country'] == 'Switzerland'][' BMI '].mean()
dataset.loc[dataset['Country'] == 'Monaco', ' BMI '] = mean_bmi_switzerland
dataset.loc[dataset['Country'].isin(['Sudan', 'South Sudan']), ' BMI '] = 25.2
mean_bmi_italy = dataset[dataset['Country'] == 'Italy'][' BMI '].mean()
dataset.loc[dataset['Country'] == 'San Marino', ' BMI '] = mean_bmi_italy
rows_with_nan8 = dataset[dataset[' BMI '].isnull()]
rows_with_nan8

Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]

In [301]:
#Solving problem of missing values in Polio column
polio= dataset.groupby('Country')['Polio'].transform('mean')
dataset['Polio'].fillna(polio, inplace=True)
rows_with_nan9 = dataset[dataset['Polio'].isnull()]
# Print rows with NaN values after imputation
print("Rows with NaN values after imputation:")
print(rows_with_nan9)
missing_values = dataset.isnull().sum()
print(missing_values)
# Check for rows where NaN values exist in the Polio column
rows_with_nan = dataset[dataset['Polio'].isnull()]
# Filter rows where 'Polio' column contains NaN values
rows_with_nan_polio = dataset[dataset['Polio'].isnull()]

# Print rows with NaN values in the 'Polio' column
print("Rows with NaN values in the 'Polio' column:")
print(rows_with_nan_polio)

Rows with NaN values after imputation:
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64
Rows with NaN values in the 'Polio' column:
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]

In [302]:
# Calculate mean Total expenditure for each country
mean_Total_expenditure = dataset.groupby('Country')['Total expenditure'].transform('mean')
dataset['Total expenditure'].fillna(mean_Total_expenditure, inplace=True)
dataset.loc[dataset['Country'] == 'Somalia', 'Total expenditure'] = 2
dataset.loc[dataset['Country'] == "Democratic People's Republic of Korea", 'Total expenditure'] = 3
rows_with_nan10 = dataset[dataset['Total expenditure'].isnull()]
# Print rows with NaN values after imputation
print("Rows with NaN values after imputation:")
print(rows_with_nan10)

Rows with NaN values after imputation:
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]

In [303]:
# Calculate mean Diphtheria for each country
mean_Diphtheria = dataset.groupby('Country')['Diphtheria '].transform('mean')
dataset['Diphtheria '].fillna(mean_Diphtheria, inplace=True)

In [305]:
#removing the rows of countries which only have one year row 
countries_to_drop = ["Cook Islands", "Dominica", "Marshall Islands", "Monaco", "Nauru", "Niue", "Palau", "Saint Kitts and Nevis", "San Marino", "Tuvalu"]

# Drop rows where the 'Country' column matches any of the countries in the list
dataset = dataset[~dataset['Country'].isin(countries_to_drop)]
dataset

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [306]:
# Calculate mean GDP for each country
mean_GDP = dataset.groupby('Country')['GDP'].transform('mean')
dataset['GDP'].fillna(mean_GDP, inplace=True)
dataset.loc[dataset['Country'] == 'Bahamas', 'GDP'] = 10000000.00
bolivia_missing_gdp = dataset[(dataset['Country'] == 'Bolivia (Plurinational State of)') & (dataset['Year'] >= 2000) & (dataset['Year'] <= 2015) & (dataset['GDP'].isnull())]
multiplied_values = [8.4, 8.2, 7.9, 8.1, 8.8, 9.6, 11.5, 13.2, 16.8, 17.5, 19.8, 24.1, 27.3, 30.9, 33.2, 33.2]
multiplied_values = [x * 1000000 for x in multiplied_values]
bolivia_missing_gdp.loc[:, 'GDP'] = multiplied_values

multiplied_gdp_values = [
    8400000.0, 8200000.0, 7900000.0, 8100000.0, 8800000.0, 9600000.0,
    11500000.0, 13200000.0, 16800000.0, 17500000.0, 19800000.0,
    24100000.0, 27300000.0, 30900000.0, 33200000.0, 33200000.0
]
years = range(2000, 2016)
gdp_dict = dict(zip(years, multiplied_gdp_values))
for year, value in gdp_dict.items():
    dataset.loc[(dataset['Country'] == 'Bolivia (Plurinational State of)') & (dataset['Year'] == year), 'GDP'] = value
print("Dataset after assigning GDP values for Bolivia between 2000 and 2015:")
print(dataset[(dataset['Country'] == 'Bolivia (Plurinational State of)') & (dataset['Year'].between(2000, 2015))])


cote_divoire_gdp_values = {
    2000: 14900000,
    2005: 23600000,
    2006: 24600000,
    2007: 28200000,
    2008: 33600000,
    2009: 33700000,
    2010: 34400000,
    2011: 35500000,
    2012: 37000000,
    2013: 43200000,
    2014: 48900000,
    2015: 45800000
}
for year, gdp_value in cote_divoire_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Côte d'Ivoire") & (dataset['Year'] == year), 'GDP'] = gdp_value
mean_gdp_cote_divoire = dataset.loc[dataset['Country'] == "Côte d'Ivoire", 'GDP'].mean()
dataset.loc[(dataset['Country'] == "Côte d'Ivoire") & (dataset['GDP'].isnull()), 'GDP'] = mean_gdp_cote_divoire



congo_gdp_values = {
    2000: 3620000,
    2005: 6650000,
    2006: 8070000,
    2007: 8780000,
    2008: 11650000,
    2009: 9710000,
    2010: 13160000,
    2011: 15650000,
    2012: 17700000,
    2013: 17960000,
    2014: 17920000,
    2015: 11890000
}
for year, gdp_value in congo_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Congo") & (dataset['Year'] == year), 'GDP'] = gdp_value
mean_gdp_congo = dataset.loc[dataset['Country'] == "Congo", 'GDP'].mean()
dataset.loc[(dataset['Country'] == "Congo") & (dataset['GDP'].isnull()), 'GDP'] = mean_gdp_congo
dataset.loc[dataset['Country'] == "Cook Islands", 'GDP'] = 183000000
dataset.loc[dataset['Country'] == "Czechia", 'GDP'] = 209000000000
dprk_gdp_values = {
    2000: 576179387819.6,
    2013: 1370632955321.2,
    2014: 1484488526271.8,
    2015: 1466038936206.4
}
for year, gdp_value in dprk_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Democratic People's Republic of Korea") & (dataset['Year'] == year), 'GDP'] = gdp_value
mean_gdp_dprk = dataset.loc[dataset['Country'] == "Democratic People's Republic of Korea", 'GDP'].mean()
dataset.loc[(dataset['Country'] == "Democratic People's Republic of Korea") & (dataset['GDP'].isnull()), 'GDP'] = mean_gdp_dprk

drc_gdp_values = {
    2000: 3227927698,
    2001: 2796704604,
    2002: 3034250924,
    2003: 3503723088,
    2004: 4656974940,
    2005: 6650001680,
    2006: 8072305029,
    2007: 8782703437,
    2008: 11649857673,
    2009: 9723299915,
    2010: 13148396212,
    2011: 15655383577,
    2012: 17692911296,
    2013: 17958720699,
    2014: 17919224180,
    2015: 12434829581
}

for year, gdp_value in drc_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Democratic Republic of the Congo") & (dataset['Year'] == year), 'GDP'] = gdp_value
mean_gdp_drc = dataset.loc[dataset['Country'] == "Democratic Republic of the Congo", 'GDP'].mean()
dataset.loc[(dataset['Country'] == "Democratic Republic of the Congo") & (dataset['GDP'].isnull()), 'GDP'] = mean_gdp_drc

egypt_gdp_values = {
    2000: 99838543960,
    2001: 96684636119,
    2002: 85146067416,
    2003: 80288461538,
    2004: 78782467532,
    2005: 89600665557,
    2006: 107426000000,
    2007: 130438000000,
    2008: 162818000000,
    2009: 189147000000,
    2010: 218984000000,
    2011: 235990000000,
    2012: 279117000000,
    2013: 288434000000,
    2014: 305595000000,
    2015: 329367000000
}
for year, gdp_value in egypt_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Egypt") & (dataset['Year'] == year), 'GDP'] = gdp_value
mean_gdp_egypt = dataset.loc[dataset['Country'] == "Egypt", 'GDP'].mean()
dataset.loc[(dataset['Country'] == "Egypt") & (dataset['GDP'].isnull()), 'GDP'] = mean_gdp_egypt

gambia_gdp_values = {
    2000: 782913871.8,
    2001: 687410645.1,
    2002: 578235309.3,
    2003: 487038685,
    2004: 961900651.4,
    2005: 1027701068,
    2006: 1054112488,
    2007: 1279703047,
    2008: 1561766956,
    2009: 1450142509,
    2010: 1543294927,
    2011: 1409693597,
    2012: 1415004738,
    2013: 1375609453,
    2014: 1229461721,
    2015: 1378176609
}

for year, gdp_value in gambia_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Gambia") & (dataset['Year'] == year), 'GDP'] = gdp_value

iran_gdp_values = {
    2000: 109592000000,
    2001: 126879000000,
    2002: 128627000000,
    2003: 153545000000,
    2004: 190043000000,
    2005: 226452000000,
    2006: 266299000000,
    2007: 349882000000,
    2008: 412336000000,
    2009: 416397000000,
    2010: 486808000000,
    2011: 626133000000,
    2012: 644036000000,
    2013: 492776000000,
    2014: 460383000000,
    2015: 408213000000
}

for year, gdp_value in iran_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Iran (Islamic Republic of)") & (dataset['Year'] == year), 'GDP'] = gdp_value

kekestan_gdp_values = {
    2000: 18291990662,
    2001: 22152689180,
    2002: 24636598527,
    2003: 30833692900,
    2004: 43151647003,
    2005: 57123671734,
    2006: 81003864630,
    2007: 104850000000,
    2008: 133442000000,
    2009: 115309000000,
    2010: 148047000000,
    2011: 192626000000,
    2012: 207999000000,
    2013: 236635000000,
    2014: 221416000000,
    2015: 184388000000
}

for year, gdp_value in kekestan_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Kyrgyzstan") & (dataset['Year'] == year), 'GDP'] = gdp_value

lao_gdp_values = {
    2000: 1731198022,
    2001: 1768619058,
    2002: 1758176653,
    2003: 2023324407,
    2004: 2366398120,
    2005: 2735558735,
    2006: 3455031448,
    2007: 4223152219,
    2008: 5446434032,
    2009: 5836138127,
    2010: 7131773633,
    2011: 8750107402,
    2012: 10192848926,
    2013: 11983252627,
    2014: 13279248479,
    2015: 14426381187
}

for year, gdp_value in lao_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Lao People's Democratic Republic") & (dataset['Year'] == year), 'GDP'] = gdp_value    
    

micronesia_gdp_values = {
    2000: 100000000,
    2001: 110000000,
    2002: 120000000,
    2003: 130000000,
    2004: 140000000,
    2005: 150000000,
    2006: 160000000,
    2007: 170000000,
    2008: 180000000,
    2009: 190000000,
    2010: 200000000,
    2011: 210000000,
    2012: 220000000,
    2013: 230000000,
    2014: 240000000,
    2015: 250000000
}

for year, gdp_value in micronesia_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Micronesia (Federated States of)") & (dataset['Year'] == year), 'GDP'] = gdp_value    

korea_gdp_values = {
    2000: int(5.76179E+11),
    2001: int(5.47656E+11),
    2002: int(6.27247E+11),
    2003: int(7.02715E+11),
    2004: int(7.93176E+11),
    2005: int(9.34901E+11),
    2006: int(1.05322E+12),
    2007: int(1.17261E+12),
    2008: int(1.04734E+12),
    2009: int(9.43942E+11),
    2010: int(1.14367E+12),
    2011: int(1.25329E+12),
    2012: int(1.27805E+12),
    2013: int(1.37063E+12),
    2014: int(1.48449E+12),
    2015: int(1.46604E+12)
}

for year, gdp_value in korea_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Republic of Korea") & (dataset['Year'] == year), 'GDP'] = gdp_value 

yemen_gdp_values = {
    2000: 9679316770,
    2001: 9852990693,
    2002: 10693430511,
    2003: 11777532683,
    2004: 13867634396,
    2005: 16731566688,
    2006: 19063143370,
    2007: 21650528638,
    2008: 26910855852,
    2009: 25130278254,
    2010: 30906749533,
    2011: 32726417878,
    2012: 35401331609,
    2013: 40415233436,
    2014: 43228585321,
    2015: 42444489461
}

for year, gdp_value in yemen_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Yemen") & (dataset['Year'] == year), 'GDP'] = gdp_value    

moldova_gdp_values = {
    2000: 1288429392,
    2001: 1480673594,
    2002: 1661818168,
    2003: 1980907435,
    2004: 2598249556,
    2005: 2988342907,
    2006: 3408255451,
    2007: 4401173152,
    2008: 6054824248,
    2009: 5439434272,
    2010: 6974982370,
    2011: 8414352020,
    2012: 8709138635,
    2013: 9496717876,
    2014: 9399833207,
    2015: 7798692878
}

for year, gdp_value in moldova_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Republic of Moldova") & (dataset['Year'] == year), 'GDP'] = gdp_value   
    
vietnam_gdp_values = {
    2000: 31172518403,
    2001: 32685198809,
    2002: 35064105501,
    2003: 39552513232,
    2004: 45427854693,
    2005: 57633255738,
    2006: 66371664817,
    2007: 77414425532,
    2008: 99130304099,
    2009: int(1.06015E+11),
    2010: int(1.47201E+11),
    2011: int(1.72595E+11),
    2012: int(1.95591E+11),
    2013: int(2.13709E+11),
    2014: int(2.33451E+11),
    2015: int(2.39258E+11)
}

for year, gdp_value in vietnam_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Viet Nam") & (dataset['Year'] == year), 'GDP'] = gdp_value

venezuela_gdp_values = {
    2000: int(1.17146E+11),
    2001: int(1.22911E+11),
    2002: 92893587734,
    2003: 83620628582,
    2004: int(1.12451E+11),
    2005: int(1.45513E+11),
    2006: int(1.83478E+11),
    2007: int(2.30364E+11),
    2008: int(3.15953E+11),
    2009: int(3.29788E+11),
    2010: int(3.93192E+11),
    2011: int(3.16482E+11),
    2012: int(3.81286E+11),
    2013: int(3.71005E+11),
    2014: int(4.82359E+11)
}

for year, gdp_value in venezuela_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Venezuela (Bolivarian Republic of)") & (dataset['Year'] == year), 'GDP'] = gdp_value
# Fill missing GDP values for Venezuela for 2015 with the GDP value of 2014
venezuela_2014_gdp = venezuela_gdp_values[2014]
dataset.loc[(dataset['Country'] == "Venezuela (Bolivarian Republic of)") & (dataset['Year'] == 2015) & (dataset['GDP'].isnull()), 'GDP'] = venezuela_2014_gdp


usa_gdp_values = {
    2000: int(1.02509E+13),
    2001: int(1.05819E+13),
    2002: int(1.09291E+13),
    2003: int(1.14564E+13),
    2004: int(1.22172E+13),
    2005: int(1.30392E+13),
    2006: int(1.38156E+13),
    2007: int(1.44742E+13),
    2008: int(1.47699E+13),
    2009: int(1.44781E+13),
    2010: int(1.5049E+13),
    2011: int(1.55997E+13),
    2012: int(1.6254E+13),
    2013: int(1.68432E+13),
    2014: int(1.75507E+13),
    2015: int(1.8206E+13)
}

for year, gdp_value in usa_gdp_values.items():
    dataset.loc[(dataset['Country'] == "United States of America") & (dataset['Year'] == year), 'GDP'] = gdp_value

saint_lucia_gdp_values = {
    2000: 932592592.6,
    2001: 892592592.6,
    2002: 900000000,
    2003: 987407407.4,
    2004: 1066666667,
    2005: 1135555556,
    2006: 1268319185,
    2007: 1336088815,
    2008: 1437731111,
    2009: 1401507889,
    2010: 1482385185,
    2011: 1568370370,
    2012: 1598207407,
    2013: 1660222222,
    2014: 1749288889,
    2015: 1807225926
}

for year, gdp_value in saint_lucia_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Saint Lucia") & (dataset['Year'] == year), 'GDP'] = gdp_value

svg_gdp_values = {
    2000: 427946037,
    2001: 462072333.3,
    2002: 487763851.9,
    2003: 509090888.9,
    2004: 549900185.2,
    2005: 579948925.9,
    2006: 643501148.1,
    2007: 713596666.7,
    2008: 732663259.3,
    2009: 714300259.3,
    2010: 720447888.9,
    2011: 713796370.4,
    2012: 730032592.6,
    2013: 764781259.3,
    2014: 770900000,
    2015: 786555555.6
}

for year, gdp_value in svg_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Saint Vincent and the Grenadines") & (dataset['Year'] == year), 'GDP'] = gdp_value

tanzania_gdp_values = {
    2000: 13376365875,
    2001: 13568654924,
    2002: 14134511339,
    2003: 15216719215,
    2004: 16678796642,
    2005: 18395383647,
    2006: 18619859795,
    2007: 21860434823,
    2008: 27947821398,
    2009: 29400573554,
    2010: 32012892919,
    2011: 34657140096,
    2012: 39650394363,
    2013: 45648857242,
    2014: 49986726461,
    2015: 47413919817
}

for year, gdp_value in tanzania_gdp_values.items():
    dataset.loc[(dataset['Country'] == "United Republic of Tanzania") & (dataset['Year'] == year), 'GDP'] = gdp_value

slovakia_gdp_values = {
    2000: 29242558797,
    2001: 30778781607,
    2002: 35297794386,
    2003: 46919965224,
    2004: 57437444469,
    2005: 62808723477,
    2006: 70767338922,
    2007: 86563986799,
    2008: 100880000000,
    2009: 89399303222,
    2010: 91162836320,
    2011: 99922685425,
    2012: 94623731086,
    2013: 98935222175,
    2014: 101437000000,
    2015: 88900883131
}


for year, gdp_value in slovakia_gdp_values.items():
    dataset.loc[(dataset['Country'] == "Slovakia") & (dataset['Year'] == year), 'GDP'] = gdp_value

    
macedonia_gdp_values = {
    2000: 3772859034,
    2001: 3709636031,
    2002: 4018365747,
    2003: 4946296599,
    2004: 5682784472,
    2005: 6258602873,
    2006: 6861226972,
    2007: 8336474974,
    2008: 9909552435,
    2009: 9401736825,
    2010: 9407170321,
    2011: 10494626768,
    2012: 9745261301,
    2013: 10817702346,
    2014: 11362265253,
    2015: 10064519963
}
for year, gdp_value in macedonia_gdp_values.items():
    dataset.loc[(dataset['Country'] == "The former Yugoslav republic of Macedonia") & (dataset['Year'] == year), 'GDP'] = gdp_value

uk_gdp_values = {
    2000: 1.66553E+12,
    2001: 1.64983E+12,
    2002: 1.78573E+12,
    2003: 2.05442E+12,
    2004: 2.42153E+12,
    2005: 2.54318E+12,
    2006: 2.70844E+12,
    2007: 3.09051E+12,
    2008: 2.92941E+12,
    2009: 2.41284E+12,
    2010: 2.48548E+12,
    2011: 2.66381E+12,
    2012: 2.70709E+12,
    2013: 2.78485E+12,
    2014: 3.06471E+12,
    2015: 2.92791E+12
}

for year, gdp_value in uk_gdp_values.items():
    dataset.loc[(dataset['Country'] == "United Kingdom of Great Britain and Northern Ireland") & (dataset['Year'] == year), 'GDP'] = gdp_value

rows_with_nan15 = dataset[dataset['GDP'].isnull()]
print("Rows with NaN values after imputation:")
print(rows_with_nan15)

Dataset after assigning GDP values for Bolivia between 2000 and 2015:
                              Country  Year      Status  Life expectancy   \
304  Bolivia (Plurinational State of)  2015  Developing              77.0
305  Bolivia (Plurinational State of)  2014  Developing              74.0
306  Bolivia (Plurinational State of)  2013  Developing              71.0
307  Bolivia (Plurinational State of)  2012  Developing              69.8
308  Bolivia (Plurinational State of)  2011  Developing              69.3
309  Bolivia (Plurinational State of)  2010  Developing              68.7
310  Bolivia (Plurinational State of)  2009  Developing              68.0
311  Bolivia (Plurinational State of)  2008  Developing              67.4
312  Bolivia (Plurinational State of)  2007  Developing              66.8
313  Bolivia (Plurinational State of)  2006  Developing              66.2
314  Bolivia (Plurinational State of)  2005  Developing              65.7
315  Bolivia (Plurinational State of)  2004  Developing              65.1
316  Bolivia (Plurinational State of)  2003  Developing              64.5
317  Bolivia (Plurinational State of)  2002  Developing              63.9
318  Bolivia (Plurinational State of)  2001  Developing              63.3
319  Bolivia (Plurinational State of)  2000  Developing              62.6

     Adult Mortality  infant deaths  Alcohol  percentage expenditure  \
304            186.0              8    3.212                     0.0
305            189.0              8    3.620                     0.0
306            192.0              8    3.780                     0.0
307            194.0              8    3.890                     0.0
308            198.0              9    3.930                     0.0
309             22.0              9    3.950                     0.0
310             27.0             10    3.870                     0.0
311            211.0             10    3.770                     0.0
312            216.0             11    3.470                     0.0
313            219.0             11    3.230                     0.0
314            222.0             12    2.860                     0.0
315            226.0             12    2.660                     0.0
316             23.0             13    2.370                     0.0
317            234.0             14    2.260                     0.0
318            238.0             14    2.200                     0.0
319            243.0             15    2.320                     0.0

     Hepatitis B  Measles   ...  Polio  Total expenditure  Diphtheria   \
304         99.0         0  ...   99.0              5.626         99.0
305         98.0         0  ...   99.0              6.330         98.0
306         94.0         0  ...   95.0              5.960         94.0
307         93.0         0  ...   93.0              5.560         93.0
308         95.0         0  ...   95.0              5.490         95.0
309         91.0         0  ...    9.0              5.440         91.0
310         93.0         0  ...   92.0              5.760         93.0
311         88.0         0  ...   87.0              5.000         88.0
312         84.0         0  ...   85.0              4.960         84.0
313         83.0         0  ...   82.0              5.190         83.0
314         85.0         0  ...   84.0              5.670         85.0
315         84.0         0  ...   84.0              5.220         84.0
316          8.0         0  ...   82.0              5.300         88.0
317         77.0         0  ...   76.0              6.530         77.0
318         77.0         0  ...   71.0              6.310         71.0
319         77.0       122  ...   74.0              5.670         75.0

      HIV/AIDS         GDP   Population   thinness  1-19 years  \
304        0.1  33200000.0  11090951.00                    1.2
305        0.1  33200000.0   9911048.25                    1.2
306        0.1  30900000.0   9911048.25                    1.2
307        0.1  27300000.0   9911048.25                    1.2
308        0.2  24100000.0   9911048.25                    1.2
309        0.2  19800000.0  10223231.00                    1.2
310        0.2  17500000.0   9911048.25                    1.2
311        0.2  16800000.0   9911048.25                    1.3
312        0.2  13200000.0   9911048.25                    1.3
313        0.2  11500000.0   9911048.25                    1.3
314        0.2   9600000.0   9377388.00                    1.3
315        0.2   8800000.0   9911048.25                    1.4
316        0.2   8100000.0   9911048.25                    1.4
317        0.1   7900000.0   9911048.25                    1.4
318        0.1   8200000.0   9911048.25                    1.5
319        0.1   8400000.0   8952623.00                    1.5

      thinness 5-9 years  Income composition of resources  Schooling
304                  1.1                            0.671       13.8
305                  1.1                            0.666       13.8
306                  1.1                            0.661       13.8
307                  1.1                            0.655       13.8
308                  1.1                            0.649       13.8
309                  1.1                            0.643       13.8
310                  1.1                            0.636       13.8
311                  1.1                            0.632       14.0
312                  1.2                            0.626       14.1
313                  1.2                            0.625       14.3
314                  1.2                            0.622       14.4
315                  1.2                            0.620       14.6
316                  1.3                            0.617       14.4
317                  1.3                            0.610       14.0
318                  1.4                            0.607       13.7
319                  1.4                            0.600       13.3

[16 rows x 22 columns]
Rows with NaN values after imputation:
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]

In [315]:
#Solving the problem of missing values in Population column
# Calculate mean Population for each country
mean_Population = dataset.groupby('Country')['Population'].transform('mean')
dataset['Population'].fillna(mean_Population, inplace=True)
rows_with_nan13 = dataset[dataset['Population'].isnull()]
# Print rows with NaN values after imputation
print("Rows with NaN values after imputation:")
print(rows_with_nan13)

dataset.loc[(dataset['Country'] == 'Antigua and Barbuda' ) & (dataset['Year'] == 2015) ,'Population'] = 89941
dataset.loc[(dataset['Country'] == 'Antigua and Barbuda' ) & (dataset['Year'] == 2014) ,'Population'] = 89236
dataset.loc[(dataset['Country'] == 'Antigua and Barbuda' ) & (dataset['Year'] == 2000) ,'Population'] = 75055
dataset.loc[(dataset['Country'] == 'Antigua and Barbuda' ) & (dataset['Year'] == 2003) ,'Population'] = 78075
dataset.loc[(dataset['Country'] == 'Antigua and Barbuda' ) & (dataset['Year'] == 2010) ,'Population'] = 85695
#::::::::::::::::::::
dataset.loc[(dataset['Country'] == 'Bahamas' ) & (dataset['Year'] == 2010) ,'Population'] = 373272
dataset.loc[(dataset['Country'] == 'Bahamas' ) & (dataset['Year'] == 2005) ,'Population'] = 347804
dataset.loc[(dataset['Country'] == 'Bahamas' ) & (dataset['Year'] == 2000) ,'Population'] = 325014
dataset.loc[(dataset['Country'] == 'Bahamas' ) & (dataset['Year'] == 2015) ,'Population'] = 395976
#:::::::::::::::::::::
dataset.loc[(dataset['Country'] == 'Bahrain' ) & (dataset['Year'] == 2015) ,'Population'] = 1362142
dataset.loc[(dataset['Country'] == 'Bahrain' ) & (dataset['Year'] == 2010) ,'Population'] = 1213645
dataset.loc[(dataset['Country'] == 'Bahrain' ) & (dataset['Year'] == 2005) ,'Population'] = 901921
dataset.loc[(dataset['Country'] == 'Bahrain' ) & (dataset['Year'] == 2000) ,'Population'] = 711442
#::::::::::::::::::::
dataset.loc[(dataset['Country'] == 'Barbados' ) & (dataset['Year'] == 2015) ,'Population'] = 278084
dataset.loc[(dataset['Country'] == 'Barbados' ) & (dataset['Year'] == 2010) ,'Population'] = 274711
dataset.loc[(dataset['Country'] == 'Barbados' ) & (dataset['Year'] == 2005) ,'Population'] = 269447
dataset.loc[(dataset['Country'] == 'Barbados' ) & (dataset['Year'] == 2000) ,'Population'] = 264657
#:::::::::::::::::::
dataset.loc[(dataset['Country'] == 'Bolivia (Plurinational State of)' ) & (dataset['Year'] == 2015) ,'Population'] = 11090951
dataset.loc[(dataset['Country'] == 'Bolivia (Plurinational State of)' ) & (dataset['Year'] == 2010) ,'Population'] = 10223231
dataset.loc[(dataset['Country'] == 'Bolivia (Plurinational State of)' ) & (dataset['Year'] == 2005) ,'Population'] = 9377388
dataset.loc[(dataset['Country'] == 'Bolivia (Plurinational State of)' ) & (dataset['Year'] == 2000) ,'Population'] = 8952623
#:::::::::::::::::::
dataset.loc[(dataset['Country'] == 'Brunei Darussalam' ) & (dataset['Year'] == 2015) ,'Population'] = 421437
dataset.loc[(dataset['Country'] == 'Brunei Darussalam' ) & (dataset['Year'] == 2010) ,'Population'] = 400500
dataset.loc[(dataset['Country'] == 'Brunei Darussalam' ) & (dataset['Year'] == 2005) ,'Population'] = 366717
dataset.loc[(dataset['Country'] == 'Brunei Darussalam' ) & (dataset['Year'] == 2000) ,'Population'] = 430478
#:::::::::::::::::::
dataset.loc[(dataset['Country'] == 'Congo' ) & (dataset['Year'] == 2000) ,'Population'] = 48616317
dataset.loc[(dataset['Country'] == 'Congo' ) & (dataset['Year'] == 2015) ,'Population'] = 78656904
#:::::::::::::::::::
dataset.loc[(dataset['Country'] == 'Cuba' ) & (dataset['Year'] == 2000) ,'Population'] = 11105791
dataset.loc[(dataset['Country'] == 'Cuba' ) & (dataset['Year'] == 2015) ,'Population'] = 11339894
#::::::::::::::::::
dataset.loc[(dataset['Country'] == 'Czechia' ) & (dataset['Year'] == 2000) ,'Population'] = 10255060
dataset.loc[(dataset['Country'] == 'Czechia' ) & (dataset['Year'] == 2015) ,'Population'] = 10546040
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Democratic People's Republic of Korea" ) & (dataset['Year'] == 2000) ,'Population'] = 25258015
dataset.loc[(dataset['Country'] == "Democratic People's Republic of Korea" ) & (dataset['Year'] == 2015) ,'Population'] = 10546040
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Democratic Republic of the Congo" ) & (dataset['Year'] == 2000) ,'Population'] = 48616717
dataset.loc[(dataset['Country'] == "Democratic Republic of the Congo" ) & (dataset['Year'] == 2015) ,'Population'] = 78656704
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Egypt" ) & (dataset['Year'] == 2000) ,'Population'] = 71371371
dataset.loc[(dataset['Country'] == "Egypt" ) & (dataset['Year'] == 2015) ,'Population'] = 97723799
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Gambia" ) & (dataset['Year'] == 2000) ,'Population'] = 1437356
dataset.loc[(dataset['Country'] == "Gambia" ) & (dataset['Year'] == 2015) ,'Population'] = 2253133
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Grenada" ) & (dataset['Year'] == 2000) ,'Population'] = 107423
dataset.loc[(dataset['Country'] == "Grenada" ) & (dataset['Year'] == 2015) ,'Population'] = 118980
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Iran (Islamic Republic of)" ) & (dataset['Year'] == 2000) ,'Population'] = 65544333
dataset.loc[(dataset['Country'] == "Iran (Islamic Republic of)" ) & (dataset['Year'] == 2015) ,'Population'] = 81790781
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Kuwait" ) & (dataset['Year'] == 2000) ,'Population'] = 1991761
dataset.loc[(dataset['Country'] == "Kuwait" ) & (dataset['Year'] == 2015) ,'Population'] = 3908708
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Kyrgyzstan" ) & (dataset['Year'] == 2000) ,'Population'] = 4898400
dataset.loc[(dataset['Country'] == "Kyrgyzstan" ) & (dataset['Year'] == 2015) ,'Population'] = 5956500
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Lao People's Democratic Republic" ) & (dataset['Year'] == 2000) ,'Population'] = 5430580
dataset.loc[(dataset['Country'] == "Lao People's Democratic Republic" ) & (dataset['Year'] == 2015) ,'Population'] = 6787900
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Libya" ) & (dataset['Year'] == 2000) ,'Population'] = 5154790
dataset.loc[(dataset['Country'] == "Libya" ) & (dataset['Year'] == 2015) ,'Population'] = 6192353
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Micronesia (Federated States of)" ) & (dataset['Year'] == 2000) ,'Population'] = 111999
dataset.loc[(dataset['Country'] == "Micronesia (Federated States of)" ) & (dataset['Year'] == 2015) ,'Population'] = 109462
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "New Zealand" ) & (dataset['Year'] == 2000) ,'Population'] = 3875700
dataset.loc[(dataset['Country'] == "New Zealand" ) & (dataset['Year'] == 2015) ,'Population'] = 4609400
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Oman" ) & (dataset['Year'] == 2000) ,'Population'] = 2344340
dataset.loc[(dataset['Country'] == "Oman" ) & (dataset['Year'] == 2015) ,'Population'] = 4191774
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Qatar" ) & (dataset['Year'] == 2000) ,'Population'] = 645992
dataset.loc[(dataset['Country'] == "Qatar" ) & (dataset['Year'] == 2015) ,'Population'] = 2414543
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Republic of Korea" ) & (dataset['Year'] == 2000) ,'Population'] = 47008111
dataset.loc[(dataset['Country'] == "Republic of Korea" ) & (dataset['Year'] == 2015) ,'Population'] = 51015431
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Saint Lucia" ) & (dataset['Year'] == 2000) ,'Population'] = 195500
dataset.loc[(dataset['Country'] == "Saint Lucia" ) & (dataset['Year'] == 2015) ,'Population'] = 175632
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Saudi Arabia" ) & (dataset['Year'] == 2000) ,'Population'] = 21547422
dataset.loc[(dataset['Country'] == "Saudi Arabia" ) & (dataset['Year'] == 2015) ,'Population'] = 32749868
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Singapore" ) & (dataset['Year'] == 2000) ,'Population'] = 645992
dataset.loc[(dataset['Country'] == "Singapore" ) & (dataset['Year'] == 2015) ,'Population'] = 2414543
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Slovakia" ) & (dataset['Year'] == 2000) ,'Population'] = 5388731
dataset.loc[(dataset['Country'] == "Slovakia" ) & (dataset['Year'] == 2015) ,'Population'] = 5423801
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Somalia" ) & (dataset['Year'] == 2000) ,'Population'] = 8721431
dataset.loc[(dataset['Country'] == "Somalia" ) & (dataset['Year'] == 2015) ,'Population'] = 13763400
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "The former Yugoslav republic of Macedonia" ) & (dataset['Year'] == 2000) ,'Population'] = 2026333
dataset.loc[(dataset['Country'] == "The former Yugoslav republic of Macedonia" ) & (dataset['Year'] == 2015) ,'Population'] = 2070222
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "United Arab Emirates" ) & (dataset['Year'] == 2000) ,'Population'] = 3275333
dataset.loc[(dataset['Country'] == "United Arab Emirates" ) & (dataset['Year'] == 2015) ,'Population'] = 8916999
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "United Kingdom of Great Britain and Northern Ireland" ) & (dataset['Year'] == 2000) ,'Population'] = 58892222
dataset.loc[(dataset['Country'] == "United Kingdom of Great Britain and Northern Ireland" ) & (dataset['Year'] == 2015) ,'Population'] = 65116222
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "United Republic of Tanzania" ) & (dataset['Year'] == 2000) ,'Population'] = 34463700
dataset.loc[(dataset['Country'] == "United Republic of Tanzania" ) & (dataset['Year'] == 2015) ,'Population'] = 52542800
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "United States of America" ) & (dataset['Year'] == 2000) ,'Population'] = 282126444
dataset.loc[(dataset['Country'] == "United States of America" ) & (dataset['Year'] == 2015) ,'Population'] = 320732898
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Venezuela (Bolivarian Republic of)" ) & (dataset['Year'] == 2000) ,'Population'] = 24427729
dataset.loc[(dataset['Country'] == "Venezuela (Bolivarian Republic of)" ) & (dataset['Year'] == 2015) ,'Population'] = 30529719
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Viet Nam" ) & (dataset['Year'] == 2000) ,'Population'] = 79001192
dataset.loc[(dataset['Country'] == "Viet Nam" ) & (dataset['Year'] == 2015) ,'Population'] = 92191400
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Yemen" ) & (dataset['Year'] == 2000) ,'Population'] = 18628700
dataset.loc[(dataset['Country'] == "Yemen" ) & (dataset['Year'] == 2015) ,'Population'] = 28516828
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Côte d'Ivoire" ) & (dataset['Year'] == 2000) ,'Population'] = 16800799
dataset.loc[(dataset['Country'] == "Côte d'Ivoire" ) & (dataset['Year'] == 2015) ,'Population'] = 23589741

dataset.isna().sum()
dataset.loc[(dataset['Country'] == "Saint Vincent and the Grenadines" ) & (dataset['Year'] == 2000) ,'Population'] = 55810
dataset.loc[(dataset['Country'] == "Saint Vincent and the Grenadines" ) & (dataset['Year'] == 2015) ,'Population'] = 51944
#::::::::::::::::::
dataset.loc[(dataset['Country'] == "Republic of Moldova" ) & (dataset['Year'] == 2000) ,'Population'] = 1539705
dataset.loc[(dataset['Country'] == "Republic of Moldova" ) & (dataset['Year'] == 2015) ,'Population'] = 1487320


c40 = dataset[dataset['Country'] == "Saint Vincent and the Grenadines)" ]
m40 = c40['Population'].mean()

c41 = dataset[dataset['Country'] == "Republic of Moldova" ]
m41 = c41['Population'].mean()

c1 = dataset[dataset['Country'] == 'Yemen']
m1 = c1['Population'].mean()

c2 = dataset[dataset['Country'] == 'Viet Nam']
m2 = c2['Population'].mean()

c3 = dataset[dataset['Country'] == 'Antigua and Barbuda']
m3 = c3['Population'].mean()

c4 = dataset[dataset['Country'] == 'Bahamas']
m4 = c4['Population'].mean()

c5 = dataset[dataset['Country'] == 'Bahrain']
m5 = c5['Population'].mean()

c6 = dataset[dataset['Country'] == 'Barbados']
m6 = c6['Population'].mean()

c7 = dataset[dataset['Country'] == 'Bolivia (Plurinational State of)']
m7 = c7['Population'].mean()

c8 = dataset[dataset['Country'] == 'Brunei Darussalam']
m8 = c8['Population'].mean()

c9 = dataset[dataset['Country'] == 'Congo']
m9 = c9['Population'].mean()

c10 = dataset[dataset['Country'] == 'Cuba']
m10 = c10['Population'].mean()

c11 = dataset[dataset['Country'] == 'Czechia']
m11 = c11['Population'].mean()

c12 = dataset[dataset['Country'] == "Democratic People's Republic of Korea"]
m12 = c12['Population'].mean()

c13 = dataset[dataset['Country'] == 'Democratic Republic of the Congo']
m13 = c13['Population'].mean()

c14 = dataset[dataset['Country'] == 'Egypt']
m14 = c14['Population'].mean()

c15 = dataset[dataset['Country'] == 'Gambia']
m15 = c15['Population'].mean()

c16 = dataset[dataset['Country'] == 'Grenada']
m16 = c16['Population'].mean()

c17 = dataset[dataset['Country'] == "Iran (Islamic Republic of)" ]
m17 = c17['Population'].mean()

c18 = dataset[dataset['Country'] == 'Kuwait']
m18 = c18['Population'].mean()

c19 = dataset[dataset['Country'] == 'Kyrgyzstan']
m19 = c19['Population'].mean()

c20 = dataset[dataset['Country'] == "Lao People's Democratic Republic"]
m20 = c20['Population'].mean()

c21 = dataset[dataset['Country'] == 'Libya']
m21 = c21['Population'].mean()

c22 = dataset[dataset['Country'] == "Micronesia (Federated States of)" ]
m22 = c22['Population'].mean()

c23 = dataset[dataset['Country'] == 'New Zealand']
m23 = c23['Population'].mean()

c25 = dataset[dataset['Country'] == "Oman" ]
m25 = c25['Population'].mean()

c26 = dataset[dataset['Country'] == 'Qatar']
m26 = c26['Population'].mean()

c27 = dataset[dataset['Country'] == " Republic of Korea" ]
m27 = c27['Population'].mean()

c28 = dataset[dataset['Country'] == "Saint Lucia"]
m28 = c28['Population'].mean()

c29 = dataset[dataset['Country'] == 'Saudi Arabia']
m29= c29['Population'].mean()

c30 = dataset[dataset['Country'] == "Singapore" ]
m30 = c30['Population'].mean()

c31 = dataset[dataset['Country'] == 'Slovakia']
m31 = c31['Population'].mean()

c32 = dataset[dataset['Country'] == "Somalia" ]
m32 = c32['Population'].mean()

c33 = dataset[dataset['Country'] == "The former Yugoslav republic of Macedonia" ]
m33 = c33['Population'].mean()

c34 = dataset[dataset['Country'] == "United Arab Emirates" ]
m34 = c34['Population'].mean()

c35 = dataset[dataset['Country'] == 'United Kingdom of Great Britain and Northern Ireland']
m35 = c35['Population'].mean()

c36 = dataset[dataset['Country'] == " United Republic of Tanzania" ]
m36 = c36['Population'].mean()

c37 = dataset[dataset['Country'] == "United States of America"]
m37 = c37['Population'].mean()

c38 = dataset[dataset['Country'] == "Venezuela (Bolivarian Republic of)" ]
m38= c38['Population'].mean()

c39 = dataset[dataset['Country'] == "Côte d'Ivoire"  ]
m39 = c39['Population'].mean()

dataset['Population'].fillna(dataset.groupby('Country')['Population'].transform('mean'), inplace=True)


missing_values = dataset.isnull().sum()
print(missing_values)

rows_with_null_population = dataset[dataset['Population'].isnull()]
rows_with_null_population

Rows with NaN values after imputation:
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]

In [307]:
# Assuming that Sudan and South Sudan have the same values as Somalia 

filtered_dataset = dataset[(dataset['Country'].isin(['Somalia', 'Sudan', 'South Sudan'])) & (dataset['Year'].between(2000, 2015))]
somalia_data = filtered_dataset[filtered_dataset['Country'] == 'Somalia']
sudan_data = filtered_dataset[filtered_dataset['Country'] == 'Sudan'].copy()
south_sudan_data = filtered_dataset[filtered_dataset['Country'] == 'South Sudan'].copy()
columns_to_fill = [' thinness  1-19 years', ' thinness 5-9 years']

for column in columns_to_fill:

    sudan_data[column].fillna(somalia_data[column].values[0], inplace=True)


    south_sudan_data[column].fillna(somalia_data[column].values[0], inplace=True)


filled_dataset = pd.concat([somalia_data, sudan_data, south_sudan_data])
#Transfer changes to dataset
filtered_dataset = dataset[(dataset['Country'].isin(['Somalia', 'Sudan', 'South Sudan'])) & (dataset['Year'].between(2000, 2015))]
somalia_data = filtered_dataset[filtered_dataset['Country'] == 'Somalia']
sudan_data = filtered_dataset[filtered_dataset['Country'] == 'Sudan']
south_sudan_data = filtered_dataset[filtered_dataset['Country'] == 'South Sudan']
columns_to_fill = [' thinness  1-19 years', ' thinness 5-9 years']

for column in columns_to_fill:
    dataset.loc[(dataset['Country'] == 'Sudan') & (dataset['Year'].between(2000, 2015)), column] = somalia_data[column].values[0]
    dataset.loc[(dataset['Country'] == 'South Sudan') & (dataset['Year'].between(2000, 2015)), column] = somalia_data[column].values[0]
missing_values158 = dataset.isnull().sum()
print(missing_values158)

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [312]:
#another method to solve the problem of missing values in thinness columns

print("Rows with empty data in Thinness column")
filtered_rows3 = dataset[dataset[' thinness  1-19 years'].isnull()]
print(filtered_rows3)
print(filtered_dataset.columns)
# Assuming that Sudan and South Sudan have the same values as Somalia 
filtered_dataset = dataset[(dataset['Country'].isin(['Somalia', 'Sudan'])) & (dataset['Year'].between(2000, 2015))]

# Extract the values for Somalia
somalia_values = filtered_dataset[filtered_dataset['Country'] == 'Somalia'].set_index('Year')[' thinness  1-19 years']

# Fill missing values for Sudan with Somalia values
filtered_dataset.loc[filtered_dataset['Country'] == 'Sudan', ' thinness  1-19 years'] = filtered_dataset.loc[filtered_dataset['Country'] == 'Sudan', ' thinness  1-19 years'].fillna(somalia_values)

# Display the updated dataset
print(filtered_dataset)

filtered_rows19 = dataset[dataset[' thinness  1-19 years'].isnull()]
print("Rows with NaN values in Thinness 1-19 years after imputation:")
print(filtered_rows19)
missing_values = dataset.isnull().sum()
print(missing_values)
print("##################################################################################################")
filtered_dataset = dataset[(dataset['Country'].isin(['Somalia', 'Sudan', 'South Sudan'])) & (dataset['Year'].between(2000, 2015))]

# Extract the values for Somalia
somalia_values = filtered_dataset[filtered_dataset['Country'] == 'Somalia'].set_index('Year')[[' thinness  1-19 years', ' thinness 5-9 years']]

# Loop through each year
for year in range(2000, 2016):
    # Fill missing values for Sudan and South Sudan with Somalia values for the current year
    for country in ['Sudan', 'South Sudan']:
        # Get Somalia values for the current year
        somalia_year_values = somalia_values.loc[year]
        # Fill missing values for the current year and country
        filtered_dataset.loc[(filtered_dataset['Country'] == country) & (filtered_dataset['Year'] == year), [' thinness  1-19 years', ' thinness 5-9 years']] = filtered_dataset.loc[(filtered_dataset['Country'] == country) & (filtered_dataset['Year'] == year), [' thinness  1-19 years', ' thinness 5-9 years']].fillna(somalia_year_values)
filtered_rows191 = dataset[dataset[' thinness  1-19 years'].isnull()]
print("Rows with NaN values in Thinness 1-19 years after imputation:")
print(filtered_rows191)
missing_values15 = dataset.isnull().sum()
print(missing_values15)


filtered_dataset = dataset[(dataset['Country'].isin(['Somalia', 'Sudan', 'South Sudan'])) & (dataset['Year'].between(2000, 2015))]

# Get Somalia data
somalia_data = filtered_dataset[filtered_dataset['Country'] == 'Somalia']

# Get Sudan data
sudan_data = filtered_dataset[filtered_dataset['Country'] == 'Sudan'].copy()

# Get South Sudan data
south_sudan_data = filtered_dataset[filtered_dataset['Country'] == 'South Sudan'].copy()

# Iterate over the columns containing missing values in Sudan and South Sudan
columns_to_fill = [' thinness  1-19 years', ' thinness 5-9 years']

for column in columns_to_fill:
    # Fill missing values for Sudan with Somalia values
    sudan_data[column].fillna(somalia_data[column].values[0], inplace=True)

    # Fill missing values for South Sudan with Somalia values
    south_sudan_data[column].fillna(somalia_data[column].values[0], inplace=True)

# Combine the data back together
filled_dataset = pd.concat([somalia_data, sudan_data, south_sudan_data])

# Display the updated dataset
print(filled_dataset)
missing_values156 = dataset.isnull().sum()
print(missing_values156)

Rows with empty data in Thinness column
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')
      Country  Year      Status  Life expectancy   Adult Mortality  \
2377  Somalia  2015  Developing              55.0            312.0
2378  Somalia  2014  Developing              54.3            321.0
2379  Somalia  2013  Developing              54.2            318.0
2380  Somalia  2012  Developing              53.1            336.0
2381  Somalia  2011  Developing              53.1            329.0
2382  Somalia  2010  Developing              52.4            336.0
2383  Somalia  2009  Developing              52.2            335.0
2384  Somalia  2008  Developing              51.9            336.0
2385  Somalia  2007  Developing              51.5             34.0
2386  Somalia  2006  Developing              51.5            337.0
2387  Somalia  2005  Developing              51.6            334.0
2388  Somalia  2004  Developing              51.2            341.0
2389  Somalia  2003  Developing              51.1            344.0
2390  Somalia  2002  Developing              58.0            348.0
2391  Somalia  2001  Developing              57.0            352.0
2392  Somalia  2000  Developing              55.0            355.0
2457    Sudan  2015  Developing              64.1            225.0
2458    Sudan  2014  Developing              63.8            229.0
2459    Sudan  2013  Developing              63.5            232.0
2460    Sudan  2012  Developing              63.2            235.0
2461    Sudan  2011  Developing              62.7            241.0
2462    Sudan  2010  Developing              62.5            243.0
2463    Sudan  2009  Developing              62.0            248.0
2464    Sudan  2008  Developing              61.8            251.0
2465    Sudan  2007  Developing              61.4            254.0
2466    Sudan  2006  Developing              61.0             26.0
2467    Sudan  2005  Developing              67.0            261.0
2468    Sudan  2004  Developing              59.7            278.0
2469    Sudan  2003  Developing              59.6            278.0
2470    Sudan  2002  Developing              59.4            277.0
2471    Sudan  2001  Developing              58.9            283.0
2472    Sudan  2000  Developing              58.6            284.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
2377             50    0.010                0.000000    42.000000      7497
2378             51    0.010                0.000000    42.000000     10229
2379             51    0.010                0.000000    42.000000      3173
2380             51    0.010                0.000000    42.000000      9983
2381             51    0.010                0.000000    42.000000     17298
2382             52    0.010                0.000000    42.000000       115
2383             52    0.010                0.000000    42.000000        13
2384             52    0.010                0.000000    42.000000      1081
2385             52    0.010                0.000000    42.000000      1149
2386             51    0.010                0.000000    42.000000         7
2387             50    0.010                0.000000    42.000000         0
2388             49    0.010                0.000000    42.000000     12008
2389             48    0.010                0.000000    42.000000      8257
2390             47    0.010                0.000000    42.000000      9559
2391             46    0.010                0.000000    42.000000      3571
2392             45    0.010                0.000000    42.000000      3965
2457             58    1.458                0.000000    93.000000      3585
2458             59    0.010              253.608651    94.000000       676
2459             60    0.010              227.835321    93.000000      2813
2460             61    0.010              220.522192    92.000000      8523
2461             61    2.120              196.689215    93.000000      5616
2462             62    1.770              172.009788    75.000000       680
2463             63    1.990               17.053693    72.000000        68
2464             64    2.010              128.636271    78.000000       129
2465             65    2.010               86.131669    78.000000       327
2466             66    1.900               60.336857     6.000000       228
2467             66    1.550               37.590396    22.000000      1374
2468             68    1.590               37.044800    72.363636      9562
2469             69    1.740               35.352647    72.363636      4381
2470             70    1.590               30.622875    72.363636      4529
2471             71    1.810               28.880697    72.363636      4362
2472             71    1.760               30.860010    72.363636      2875

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS          GDP  \
2377  ...   47.0           2.000000         42.0        0.7   426.985370
2378  ...   47.0           2.000000         42.0        0.8   417.891430
2379  ...   47.0           2.000000         42.0        0.8    47.543235
2380  ...   47.0           2.000000         42.0        0.8   297.473345
2381  ...   49.0           2.000000         41.0        0.8   297.473345
2382  ...   49.0           2.000000         45.0        0.8   297.473345
2383  ...   41.0           2.000000         42.0        0.8   297.473345
2384  ...    4.0           2.000000         31.0        0.9   297.473345
2385  ...    4.0           2.000000          4.0        0.9   297.473345
2386  ...   26.0           2.000000         26.0        0.9   297.473345
2387  ...   35.0           2.000000         35.0        0.9   297.473345
2388  ...    3.0           2.000000          3.0        0.9   297.473345
2389  ...    4.0           2.000000          4.0        0.9   297.473345
2390  ...    4.0           2.000000          4.0        0.9   297.473345
2391  ...   33.0           2.000000         33.0        0.8   297.473345
2392  ...   37.0           2.000000         33.0        0.8   297.473345
2457  ...   93.0           5.695333         93.0        0.3  2513.884661
2458  ...   94.0           8.430000         94.0        0.3  2176.898290
2459  ...   93.0           8.420000         93.0        0.3  1955.667990
2460  ...   92.0           8.200000         92.0        0.3  1892.894352
2461  ...   93.0           8.300000         93.0        0.3  1666.857757
2462  ...    9.0           7.970000          9.0        0.3  1476.478870
2463  ...   81.0           8.400000         81.0        0.3  1226.884381
2464  ...   85.0           8.170000         86.0        0.3  1291.528826
2465  ...   84.0           4.720000         84.0        0.3  1115.695200
2466  ...   77.0           3.930000         78.0        0.2   893.879364
2467  ...   78.0           3.180000         78.0        0.2   679.753995
2468  ...   74.0           3.390000         74.0        0.2   565.569459
2469  ...   69.0           3.180000         69.0        0.2   477.738478
2470  ...    6.0           2.950000          6.0        0.2   412.151756
2471  ...   66.0           2.960000         66.0        0.2   377.525445
2472  ...   62.0           3.230000         62.0        0.1   361.358430

      Population   thinness  1-19 years   thinness 5-9 years  \
2377  13763400.0                    6.6                  6.4
2378  11242415.5                    6.7                  6.5
2379  11242415.5                    6.8                  6.6
2380  11242415.5                    6.8                  6.7
2381  11242415.5                    6.9                  6.7
2382  11242415.5                    7.0                  6.8
2383  11242415.5                    7.1                  6.9
2384  11242415.5                    7.2                  7.0
2385  11242415.5                    7.3                  7.1
2386  11242415.5                    7.4                  7.2
2387  11242415.5                    7.5                  7.3
2388  11242415.5                    7.6                  7.4
2389  11242415.5                    7.7                  7.5
2390  11242415.5                    7.8                  7.6
2391  11242415.5                    7.9                  7.7
2392   8721431.0                    8.0                  7.9
2457   3864783.0                    6.6                  6.4
2458  37737913.0                    6.6                  6.4
2459  36849918.0                    6.6                  6.4
2460   3599192.0                    6.6                  6.4
2461  35167314.0                    6.6                  6.4
2462  34385963.0                    6.6                  6.4
2463   3365619.0                    6.6                  6.4
2464  32955496.0                    6.6                  6.4
2465  32282526.0                    6.6                  6.4
2466    316764.0                    6.6                  6.4
2467   3911914.0                    6.6                  6.4
2468   3186341.0                    6.6                  6.4
2469  29435944.0                    6.6                  6.4
2470  28679565.0                    6.6                  6.4
2471    279455.0                    6.6                  6.4
2472   2725535.0                    6.6                  6.4

      Income composition of resources  Schooling
2377                            0.900        1.7
2378                            0.900        1.7
2379                            0.900        1.7
2380                            0.900        1.7
2381                            0.900        1.7
2382                            0.900        1.7
2383                            0.900        1.7
2384                            0.900        1.7
2385                            0.900        1.7
2386                            0.900        1.7
2387                            0.900        1.7
2388                            0.900        1.7
2389                            0.900        1.7
2390                            0.900        1.7
2391                            0.900        1.7
2392                            0.900        1.7
2457                            0.488        7.2
2458                            0.485        7.2
2459                            0.478        7.0
2460                            0.468        6.8
2461                            0.463        7.0
2462                            0.461        7.0
2463                            0.456        6.8
2464                            0.444        6.3
2465                            0.440        6.4
2466                            0.430        6.2
2467                            0.423        6.1
2468                            0.415        5.7
2469                            0.409        5.6
2470                            0.403        5.6
2471                            0.399        5.6
2472                            0.394        5.5

[32 rows x 22 columns]
Rows with NaN values in Thinness 1-19 years after imputation:
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64
##################################################################################################
Rows with NaN values in Thinness 1-19 years after imputation:
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64
          Country  Year      Status  Life expectancy   Adult Mortality  \
2377      Somalia  2015  Developing              55.0            312.0
2378      Somalia  2014  Developing              54.3            321.0
2379      Somalia  2013  Developing              54.2            318.0
2380      Somalia  2012  Developing              53.1            336.0
2381      Somalia  2011  Developing              53.1            329.0
2382      Somalia  2010  Developing              52.4            336.0
2383      Somalia  2009  Developing              52.2            335.0
2384      Somalia  2008  Developing              51.9            336.0
2385      Somalia  2007  Developing              51.5             34.0
2386      Somalia  2006  Developing              51.5            337.0
2387      Somalia  2005  Developing              51.6            334.0
2388      Somalia  2004  Developing              51.2            341.0
2389      Somalia  2003  Developing              51.1            344.0
2390      Somalia  2002  Developing              58.0            348.0
2391      Somalia  2001  Developing              57.0            352.0
2392      Somalia  2000  Developing              55.0            355.0
2457        Sudan  2015  Developing              64.1            225.0
2458        Sudan  2014  Developing              63.8            229.0
2459        Sudan  2013  Developing              63.5            232.0
2460        Sudan  2012  Developing              63.2            235.0
2461        Sudan  2011  Developing              62.7            241.0
2462        Sudan  2010  Developing              62.5            243.0
2463        Sudan  2009  Developing              62.0            248.0
2464        Sudan  2008  Developing              61.8            251.0
2465        Sudan  2007  Developing              61.4            254.0
2466        Sudan  2006  Developing              61.0             26.0
2467        Sudan  2005  Developing              67.0            261.0
2468        Sudan  2004  Developing              59.7            278.0
2469        Sudan  2003  Developing              59.6            278.0
2470        Sudan  2002  Developing              59.4            277.0
2471        Sudan  2001  Developing              58.9            283.0
2472        Sudan  2000  Developing              58.6            284.0
2409  South Sudan  2015  Developing              57.3            332.0
2410  South Sudan  2014  Developing              56.6            343.0
2411  South Sudan  2013  Developing              56.4            345.0
2412  South Sudan  2012  Developing              56.0            347.0
2413  South Sudan  2011  Developing              55.4            355.0
2414  South Sudan  2010  Developing              55.0            359.0
2415  South Sudan  2009  Developing              54.3            369.0
2416  South Sudan  2008  Developing              53.6            377.0
2417  South Sudan  2007  Developing              53.1            381.0
2418  South Sudan  2006  Developing              52.5            383.0
2419  South Sudan  2005  Developing              51.9            383.0
2420  South Sudan  2004  Developing              51.4            383.0
2421  South Sudan  2003  Developing              58.0            383.0
2422  South Sudan  2002  Developing              52.0            382.0
2423  South Sudan  2001  Developing              49.6            381.0
2424  South Sudan  2000  Developing              48.9             38.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
2377             50    0.010                0.000000    42.000000      7497
2378             51    0.010                0.000000    42.000000     10229
2379             51    0.010                0.000000    42.000000      3173
2380             51    0.010                0.000000    42.000000      9983
2381             51    0.010                0.000000    42.000000     17298
2382             52    0.010                0.000000    42.000000       115
2383             52    0.010                0.000000    42.000000        13
2384             52    0.010                0.000000    42.000000      1081
2385             52    0.010                0.000000    42.000000      1149
2386             51    0.010                0.000000    42.000000         7
2387             50    0.010                0.000000    42.000000         0
2388             49    0.010                0.000000    42.000000     12008
2389             48    0.010                0.000000    42.000000      8257
2390             47    0.010                0.000000    42.000000      9559
2391             46    0.010                0.000000    42.000000      3571
2392             45    0.010                0.000000    42.000000      3965
2457             58    1.458                0.000000    93.000000      3585
2458             59    0.010              253.608651    94.000000       676
2459             60    0.010              227.835321    93.000000      2813
2460             61    0.010              220.522192    92.000000      8523
2461             61    2.120              196.689215    93.000000      5616
2462             62    1.770              172.009788    75.000000       680
2463             63    1.990               17.053693    72.000000        68
2464             64    2.010              128.636271    78.000000       129
2465             65    2.010               86.131669    78.000000       327
2466             66    1.900               60.336857     6.000000       228
2467             66    1.550               37.590396    22.000000      1374
2468             68    1.590               37.044800    72.363636      9562

In [308]:
# Calculate mean of "Income composition of resources" column for each country
mean_income_composition = dataset.groupby('Country')['Income composition of resources'].mean()
for country, mean_value in mean_income_composition.items():
    dataset.loc[dataset['Country'] == country, 'Income composition of resources'] = dataset.loc[dataset['Country'] == country, 'Income composition of resources'].fillna(mean_value)
print("Rows with empty data in Income composition of resources column")
filtered_rows1 = dataset[dataset['Income composition of resources'].isnull()]
print(filtered_rows1)

Rows with empty data in Income composition of resources column
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]

In [314]:
# Calculate mean of "Schooling" column for each country
mean_schooling = dataset.groupby('Country')['Schooling'].mean()
for country, mean_value in mean_schooling.items():
    dataset.loc[dataset['Country'] == country, 'Schooling'] = dataset.loc[dataset['Country'] == country, 'Schooling'].fillna(mean_value)   
print("Rows with empty data in Schooling column")
filtered_rows2 = dataset[dataset['Schooling'].isnull()]
print(filtered_rows2)  
missing_values = dataset.isnull().sum()
print(missing_values)
mean_schooling = dataset.groupby('Country')['Schooling'].mean()
for country, mean_value in mean_schooling.items():
    dataset.loc[dataset['Country'] == country, 'Schooling'] = dataset.loc[dataset['Country'] == country, 'Schooling'].fillna(mean_value)   
dataset.loc[dataset['Country'] == "Côte d'Ivoire", 'Schooling'] = dataset.loc[dataset['Country'] == "Côte d'Ivoire", 'Schooling'].fillna(8)
dataset.loc[dataset['Country'] == "Czechia", 'Schooling'] = dataset.loc[dataset['Country'] == "Czechia", 'Schooling'].fillna(13)
dataset.loc[dataset['Country'] == "Democratic People's Republic of Korea", 'Schooling'] = dataset.loc[dataset['Country'] == "Democratic People's Republic of Korea", 'Schooling'].fillna(13)
dataset.loc[dataset['Country'] == "United States of America", 'Schooling'] = dataset.loc[dataset['Country'] == "United States of America", 'Schooling'].fillna(14)
dataset.loc[dataset['Country'] == "Democratic Republic of the Congo", 'Schooling'] = dataset.loc[dataset['Country'] == "Democratic Republic of the Congo", 'Schooling'].fillna(9)
dataset.loc[dataset['Country'] == "United Republic of Tanzania", 'Schooling'] = dataset.loc[dataset['Country'] == "United Republic of Tanzania", 'Schooling'].fillna(7)
dataset.loc[dataset['Country'] == "Republic of Korea", 'Schooling'] = dataset.loc[dataset['Country'] == "Republic of Korea", 'Schooling'].fillna(17)
dataset.loc[dataset['Country'] == "United Kingdom of Great Britain and Northern Ireland", 'Schooling'] = dataset.loc[dataset['Country'] == "United Kingdom of Great Britain and Northern Ireland", 'Schooling'].fillna(14)
dataset.loc[dataset['Country'] == "Republic of Moldova", 'Schooling'] = dataset.loc[dataset['Country'] == "Republic of Moldova", 'Schooling'].fillna(11.8)
dataset.loc[dataset['Country'] == "Somalia", 'Schooling'] = dataset.loc[dataset['Country'] == "Somalia", 'Schooling'].fillna(1.7)
print("Rows with empty data in Schooling column")

filtered_rows2 = dataset[dataset['Schooling'].isnull()]

print(filtered_rows2)  
missing_values = dataset.isnull().sum()
print(missing_values)

Rows with empty data in Schooling column
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64
Rows with empty data in Schooling column
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [253]:
# Calculate mean of "Income composition of resources" column for each country
mean_income_composition = dataset.groupby('Country')['Income composition of resources'].transform('mean')

# Fill missing values with the corresponding mean value for each country
dataset['Income composition of resources'] = dataset['Income composition of resources'].fillna(mean_income_composition)
dataset.loc[dataset['Country'] == "Côte d'Ivoire", 'Income composition of resources'] = dataset.loc[dataset['Country'] == "Côte d'Ivoire", 'Income composition of resources'].fillna(0.4)
dataset.loc[dataset['Country'] == "Czechia", 'Income composition of resources'] = dataset.loc[dataset['Country'] == "Czechia", 'Income composition of resources'].fillna(0.8)
dataset['Income composition of resources'] = dataset['Income composition of resources'].fillna(0.9)
# Print rows with empty data in "Income composition of resources" column
print("Rows with empty data in Income composition of resources column")
filtered_rows1 = dataset[dataset['Income composition of resources'].isnull()]
print(filtered_rows1)
missing_values = dataset.isnull().sum()
print(missing_values)

Rows with empty data in Income composition of resources column
Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]
Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
 BMI                                 0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
 HIV/AIDS                            0
GDP                                  0
Population                         640
 thinness  1-19 years                0
 thinness 5-9 years                  0
Income composition of resources      0
Schooling                          160
dtype: int64

In [316]:
missing_values = dataset.isnull().sum()
print(missing_values)

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [317]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
'''
X=dataset.loc[:,dataset.columns != "Life expectancy "].values
y=dataset.loc[:,dataset.columns == "Life expectancy "].values
'''
X = dataset.drop(columns=['Life expectancy '],axis=1)
y = dataset['Life expectancy ']
from sklearn.preprocessing import LabelEncoder 
labelEncoder =LabelEncoder()
labelEncoderYear =LabelEncoder()

X.iloc[:,2] = labelEncoder.fit_transform(X.iloc[:,2])
X.iloc[:,1] = labelEncoderYear.fit_transform(X.iloc[:,1])

#Method 2: (Target Encodeing)
from category_encoders import TargetEncoder
 
targetEncoder = TargetEncoder()
 
X.iloc[:,0] = targetEncoder.fit_transform(X.iloc[:,0], y)
 
X.loc[:,"Country"] = labelEncoder.fit_transform(X.loc[:,"Country"])
X


#Spliting data to 4, train, test
#X_train,X_test,y_train,y_test = train_test_split(X,y, test_size= .2, random_state=1)
X.iloc[:,1]
X.nunique()
X
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X , y ,test_size=0.2 , random_state=1) #random state takes 0 ,1 or 42 but they say 42 give best results we use random state to force code to take the same random sample each time
#We test models with X_test values so when we run the code we will have y as a result

'\n#Method 2: (Target Encodeing)\nfrom category_encoders import TargetEncoder\n \ntargetEncoder = TargetEncoder()\n \nX.iloc[:,0] = targetEncoder.fit_transform(X.iloc[:,0], y)\n \nX.loc[:,"Country"] = labelEncoder.fit_transform(X.loc[:,"Country"])\nX\n'

Resources:
https://en.wikipedia.org/wiki/Health_in_North_Korea#:~:text=The%20three%20major%20causes%20of,of%20fifteen%20cigarettes%20per%20day.
https://tradingeconomics.com/denmark/immunization-pol3-percent-of-one-year-old-children-wb-data.html
https://fr.wikipedia.org/wiki/Saint-Marin
https://en.wikipedia.org/wiki/List_of_sovereign_states_by_body_mass_index
https://www.theglobaleconomy.com/Japan/hepatitis_B_immunization_rate/
https://www.indexmundi.com/san_marino/demographics_profile.html
https://en.wikipedia.org/wiki/Demographics_of_Palau
https://data.worldbank.org/indicator/SP.DYN.AMRT.MAlocations=PW
https://getinthepicture.org/sites/default/files/resources/Niue_2012_2016_Vital_Statistics_Report.pdf